<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="con">
        <div class="subCon1"></div>
        <div class="subCon2">
            <div>
                <a href="/login">Login</a>
                <hr>
                <a href="/signup">Sign up</a>
            </div>
        </div>
        <div class="subCon3"></div>
    </div>
</body>
</html>