<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="login.css">
</head>
<body>
<form>
        <div class="form-con">
            <div class="upper">
                <h2>Login</h2>
            </div>
            <div class="mid">
                <h3 class="item1">Email</h3>
                <input class="email" type="email" placeholder=" Email...">
                <h3 class="item2">Password</h3>
                <input class="password" type="password" placeholder=" Password..."><br>
            </div>
            <div class="lower">
                <div class="login" type="button"><button type="submit" name="/login" >Login</button></div>
            </div>
        </div>
</form>
</body>
</html>