<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="signup.css">
    <title><%=title%></title>
</head>
<body>
    <div class="con">
        <form method="post">
            <input type="text" name="fName" placeholder="First Name..">    
            <input type="text" name="lName" placeholder="Last Name..">
            <input type="email" name="email" placeholder="Email Address..">
            <input type="password" name="password" placeholder="Create Password">
            <button type="submit" name="/signup">Submit</button>
        </form>
    </div>
</body>
</html>