*{
    margin: 0%;
    padding: 0;
}
body {
    display: flex;
    background: linear-gradient(-90deg, #23a6d5, #23d5ab);
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.con {
    background-color: white;
    box-shadow: 0 0 10px, grey;
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.con form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.con form input{
    width: 400px;
    padding: 10px;
    font-weight: 700;
    font-size: larger;
    margin-bottom: 15px;
    border: 1px solid rgb(173, 171, 171);
}
.con form input:hover {
    box-shadow: 0 0 10px#23a6d5;
}

button {
    width: 200px;
    height: 40px;
    font-size: larger;
    background-color: #23a6d5;
    cursor: pointer;
    border: 0;
    color: white;
}
button:hover {
    background-color: #3cbdec;
}